.P_rifa{
    align-items: center;
    text-align: center;
    border: 1px;
    border-radius: 5px;
}

.ocupado{
    background-color: red;
}

.libre{
    background-color: green;
}
.escogido{
    background-color: rgb(194, 197, 38);
}

.si{
    background-color: rgb(95, 95, 93);
}

.nombre{
    font-size: 60%;
    text-align:left
}